.FormContainer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1200px;
    min-height: calc(100vh - 6.7rem);
    height: fit-content;
}

.SectionTitle {
    grid-column: 1 / -1;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
}


.ContentWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 40px;
    margin-bottom: 30px;
}

.TabsContainer {
    display: flex;
    margin-bottom: 20px;
}

.Tab {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color, opacity .4s;
}

.Tab:hover {
    opacity: .8;
}

.ActiveTab {
    background-color: #20b64d;
}

.Tab:not(:last-child) {
    margin-right: 10px;
    /* Adicione o espaçamento entre as abas */
}


.Content:hover::after {
    content: "Copy";
    position: absolute;
    top: 85%;
    right: -10%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 2;
}

.Content {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    /* gap: 10px; */
    position: relative;
    /* width: fit-content; */
}

.Content label {
    /* padding-right: 1px; */
    margin-right: 5px;
}

.Content:last-child {
    margin: 0;
}

.ProfileInput {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 6px;
    box-sizing: border-box;
    width: fit-content;
    /* height: fit-content; */
    min-height: 40px;
    max-height: 400px;
    overflow: auto;
    text-align: left;
}

.ProfileInput:read-only {
    background-color: #222;
    cursor: default;
}